@font-face {
	font-family: Releway;
    src:url(fonts/RalewayRegular.ttf);
    font-weight: normal;
}

@font-face {
	font-family: Releway;
    src:url(fonts/RalewayLight.ttf);
    font-weight: 300;
}

@font-face {
	font-family: Releway;
    src:url(fonts/RalewayMedium.ttf);
    font-weight: 500;
}

@font-face {
	font-family: Releway;
    src:url(fonts/RalewaySemiBold.ttf);
    font-weight: 600;
}

@font-face {
	font-family: Releway;
    src:url(fonts/RalewayBold.ttf);
    font-weight: 700;
}